<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="com.wu.era.library.layout">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <SimpleJSONLayout/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
